<div class="admin-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-1 form-box">


                <% if @clients.count == 0 %>
                <h1>No clients yet.</h1>
                <% else %>
				<h1>A list of Clients</h1>
                
				<% @clients.each do |client| %>
				<h3>Fullname: <%= client.fullname  %> <%= link_to fa_icon("eye") + "Detail", admin_client_path(client), class: "btn btn-primary" %> <%= link_to fa_icon("eye") + "Requests", admin_client_requests_path(client), class: "btn btn-primary" %></h3>
				<% end %>
				<% end %>


			</div>
		</div>
	</div>
</div>