<div class="admin-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-3 form-box form-content">
			
			<h2>Client Registration Form</h2>
            <hr>
            
            <%= render 'form', client: @client %>

			</div>
		</div>
	</div>
</div>