<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @email %></h1>
    <p>
      You have been invited to try out springgh. Please login here:
      <%= @url %>
    </p>
    <p>Thank you for using springgh. Have a great day!</p>
  </body>
</html>