/*Place all the styles related to the requests controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/

REQUEST PAGE
*/
/*Asterisks for Labels */
abbr {
  display: none;
}

.simple_form #cleanButton{
  height: 48px;
  background-color: #ffd207;
}

.btn.submit_button{
  background:#ffd207 !important;
}

/*NAVBAR CONTENT PADDING*/
ul.nav.navbar-nav.navbar-right > li.page-scroll > a{
  padding-bottom: 0px;
  padding-top: 20px;
}

a.navbar-header{
  padding-top: 2px;
  padding-bottom: 13px;
}

#daPrice{
  color:#009900;
  font-size: 24px;
}

h2.panel-title {
  background: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;

}

div#region > div.container-fluid > div.row{
  padding-top: 20px;
  background: rgba(25,41,100,0.2);
}

/*REQUEST PAGE*/
.request-details{
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px rgba(18, 39, 114, 0.2);
}

.request-details > span#totalPrice, span#extraRoomPrice, span#extraServicePrice, span#packagePrice, span.startPrice{
  padding-right: 40px;
  float:right;
}

.request-details > span#totalPrice, span#totalPriceLabel{
  font-size: 20px;
}

.request-details > span#totalPrice{
  padding-right: 30px;
  color: #44d62c;
}

nav#navigation > .container-fluid {
  background: #fff;
}

body{
  background-size: cover;
}

select{
  height: 45px;
  background: #fff;
  border-color: #adadad;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select#request_date_time_1i{
  width:20%; 
}

select#request_date_time_2i{
  width:20%; 
}

select#request_date_time_3i{
  width:10%;
}

select#request_date_time_4i{
  width:20%;  
}

select#request_date_time_5i{
  width:20%;
}

select#request_hall{
  padding-left: 0px;
}

input#client_fullname.form-control{
  height: 40px;
}

input#client_email.form-control{
  height: 40px;
}

input#client_current_password.form-control{
  height: 40px;
}

input#client_password.form-control{
  height: 40px;
}

input#client_password_confirmation.form-control{
  height: 40px;
}

input#client_phone_number.form-control{
  height: 40px;
}

input#client_location.form-control{
  height: 40px;
}

input#request_days{
  height: 45px;
  text-align: center;
}

.simple_form label.control-label{
  font-weight: bold;
  display: inline-block;
  max-width: 100%;
}

.simple_form label.radio_buttons.required.control-label{
  display: block;
  max-width: 100%;
}

.simple_form #days label.check_boxes.optional.control-label{
  display: block;
  max-width: 100%;
}


span.radio.inline{
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

span.checkbox.inline{
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px; 
}

img.img-responsive{
  width: 12%;
  margin-left: 20px;
}

input[type=checkbox]{
  -ms-transform: scale(1.9); /* IE */
  -moz-transform: scale(1.9); /* FF */
  -webkit-transform: scale(1.9); /* Safari and Chrome */
  -o-transform: scale(1.9); /* Opera */
}

input[type=radio]{
  -ms-transform: scale(2.0); /* IE */
  -moz-transform: scale(2.0); /* FF */
  -webkit-transform: scale(2.0); /* Safari and Chrome */
  -o-transform: scale(2.0); /* Opera */
}

/*// TABLE PAGE*/

div.panel.panel-default > div.table-responsive{
  border-bottom:solid 1px #0E1E59;
}

div.offerings{
  color: #122772;
}

th {
  background-color: #324072;
  color:#fff;
}

td {
  background-color: #E8E8E8;
}

div.panel.panel-default{
  border: solid 1px #0E1E59;
}


div.panel.panel-info{
  background-color: #fff;
  border: rgba(25,41,100,0.89);
}

div.panel.panel-info > div.panel-heading{
  background: #fff;
  border-bottom: #fff;
}

div.panel.panel-info > div.panel-body{
  border: #fff;
  padding-bottom: 8px;
}

div.panel-body > div.request-details.request-info{
  border-top: #fff;
}

label.check_boxes.optional.control-label{
  display: block;
  max-width: 100%;
}

#extra span.checkbox.inline{
  padding-left: 20px;
  display: inline-block;
}

#frequency span.radio.inline{
  padding-left: 20px;
  display: inline-block;
}

#days span.checkbox.inline{
  padding-left: 20px;
}

#days span.checkbox.inline:nth-child(-n+5){
  display: inline-block;
  float: left;
  width: 60%;
}

#preference span.radio.inline{
  padding-left: 20px;
}
/*
#days span.checkbox.inline:nth-child(-n+5){
  display: inline-block;
  width:70%;
  float:left;
}*/
/*
// MOBILE VIEW
*/

@media only screen and (max-device-width: 480px) {
  img.img-responsive{
    width: 22%;
  }

  nav#navigation.navbar.navbar-default.navbar-fixed-top{
    padding-bottom: 0px;
  }

  #extra span.checkbox.inline{
    margin-left: 0px;
    padding-left: 0px;
  }

  #days span.checkbox.inline{
    margin-left:0px;
  }

  #preference span.radio.inline{
    margin-left: 0px;
    padding-left: 0px;
  }
  
  select#request_date_time_1i{
    width:100%; 
  }

  select#request_date_time_2i{
    width:100%; 
  }

  select#request_date_time_3i{
    width:50%;
  }

  select#request_date_time_4i{
    width:100%;  
  }

  select#request_date_time_5i{
    width:100%;
  }

  #days span.checkbox.inline{
  display: inline-block;
  width:70%;
  float:left;
}

  #datetime select{
    display: block;
    max-width: 100%;
  }
}


