


    <div class="container">
      <div class="row" style="padding-top:60px;">
      <div class="col-sm-6 form-box wow fadeInUp content-box">
                          <!-- <div class="form-top"> -->
                              <h1>Workforce - <strong>Cleaning Services</strong></h1>
                              <hr>
                            <div class="form-top-left">
                              <p>You have cleaning chores or tasks? Quickly get a hold of a cleaner and have these tasks readily done for you.</p>
                                <ol>
                                  <p>Get access to a cleaner in 3 simple steps</p>
                                 <br>
                                 <li>
                                  <p>To Start, first fill this form</p>
                                 </li>
                                 <br>
                                 <li>
                                   <p>We get in touch with you</p>
                                 </li>
                                 <br>
                                 <li>
                                   <p>A cleaner promptly arrives at your location to tackle the cleaning task</p>
                                 </li>
                                </ol>
                            </div>
                            <div class="form-top-right">
                              <span aria-hidden="true" class="typcn typcn-pencil"></span>
                            </div>
                          <!-- </div> -->
      </div>

        <div class="col-sm-5 col-sm-offset-1 form-box wow fadeInUp form-content">
                          <div class="form-top">
                            <div class="form-top-left">
                              <!-- <h3>Sign up now</h3> -->
                                <h1>Place Your Request</h1>
                            </div>
                          
                            </div>
                            <div class="form-bottom">
                              <div class="row">
                               <%= render 'form', request: @request %><br>
                              </div>
                              
                        </div>
                    </div>
      </div>
    </div>



