<div class="container-fluid navbar-fixed-top visible-xs" id="pricing-bar">
  <ul class="nav navbar-nav">
    <li><a href="#"><label>Extra Rooms</label><span id="navExtraRoomPrice">GHc 0.00</span></a></li>
    <li><a href="#"><label>Extra Services</label><span id="navExtraServicePrice">GHc 0.00</span></a></li>
    <li><a href="#"><label>Pricing</label><strong><span id="navPricingValue">GHc 60.00</span></strong></a></li>
  </ul>
</div>
    <div class="container-fluid" >
      
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1" id="request-form" style="border:rgba(18, 39, 114, 0.2);">

            <div class="form-bottom">
               <%= render 'form', request: @request %><br>
           </div>
        
       <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-1" id="pricingBox">
        <div class="panel panel-info">

          <div class="panel-heading">
            <!-- <h2 class="panel-title text-center">Tell Us About Your House</h2> -->
            <h2 class="panel-title text-center" style="color:#fff;">Pricing</h2>
          </div>

           <div class="panel-body" style="border:1px solid rgba(18, 39, 114, 0.2); border:#fff; padding-top:0px;">
      

               <div class="grid-container">
                  <div class="row labelRow">              
                    <div class="col-1"><i>Description</i></div>
                    <div class="col-2"><i>Quantity</i></div>
                    <div class="col-3 text-right"><i>Price</i></div>
                  </div>
                   <div class="row basePrice">
                    <div class="col-1">Base Price</div>
                    <div class="col-2"><span id="roomNumber">4</span>&nbsp;Rooms</div>
                    <div class="col-3 text-right" id="packagePrice" style="padding-right:0px;">GHc 60.00</div>
                  </div>
                   <div class="row extraRooms">
                    <div class="col-1">Extra Room(s)</div>
                    <div class="col-2"><span id="extraRooms">0</span>&nbsp;&nbsp;Rooms</div>
                    <div class="col-3 text-right" id="extraRoomPrice" style="padding-right:0px;">GHc 0.00</div>
                  </div>
                   <div class="row extraServices">
                    <div class="col-1">Extra Services</div>
                    <div class="col-2"></div>
                    <div class="col-3 text-right" id="extraServicePrice" style="padding-right:0px;">GHc 0.00</div>
                  </div>
                   <div class="row extraPricing">
                    <div class="col-1" style="padding-top:0px;"><h3 class="PricingTitle">Price</h3></div>
                    <div class="col-2" style="padding-top:0px;">&nbsp;</div>
                    <div class="col-3 text-right" id="totalPrice" style="padding-top:0px;padding-left:0px; padding-right:0px;"><h3 id="PricingValue">GHc 60.00</h3></div>
                  </div>
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<script>
  $("#pricing-bar").click(function() {
    $('html,body').animate({
        scrollTop: $("#pricingBox").offset().top-100},
        1000);
});

</script>