    <div class="container-fluid" >
      
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1" style="border:rgba(18, 39, 114, 0.2);">
            <div class="form-bottom">
               <%= render 'form', request: @request %><br>
           </div>
        
       <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1" id="pricingBox">
        
        <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Pricing</h2>
            </div>
          
           <div class="panel-body" style="border:1px solid rgba(18, 39, 114, 0.2); border:#fff;">

               <div class="request-details request-info">
               <span id="roomNumber">4</span>&nbsp;Rooms  <span class="startPrice"></span>
               </div>
               <div class="request-details">
               <span id="extraRooms">0</span>&nbsp;<span>Extra Room(s)</span><span id="extraRoomPrice">GHc 0.00</span>
               </div>
               <div class="request-details">
               <span id="extraServicesNames">Extra Services</span>&nbsp;<span></span><span id="extraServicePrice">GHc 0.00</span>
               </div>
               <div class="request-details"><span>Package</span>&nbsp;<span id="packagePrices"></span><span id="packagePrice">GHc&nbsp;0.00</span></div>
               <div class="request-details"><span id="totalPriceLabel">Price</span> <span id="totalPrice">GHc&nbsp;0.00</span>
               </div>
            </div>

          </div>

        </div>
      </div>
      </div>
    </div>



