    <div class="container" >
      <div class="row">

          <div class="col-xs-12 col-sm-6 col-sm-offset-2 form-box form-content landing-page-form">
            <div class="form-top">
              <div class="form-top-left">
              </div>
            </div>
            <div class="form-bottom">
             <%= render 'form', request: @request %><br>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-sm-offset-2">
            <div class="form-top">
              <div class="form-top-left">
              </div>
            </div>
          </div>
      </div>
    </div>



