 <div class="modal fade" id="orderModal" data-backdrop="static" data-keyboard="false" style="margin-top:50px;">
    <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
      <div class="modal-header" style="border-bottom-width: 0px; border-top:solid 1px #000; padding-left:0px; padding-right:0px; border-radius:0px;background:#fff;">
          <div class="text-center" style="width:30%; margin: 0 auto;">
            <%= image_tag("spring2-logo-final.png", :alt => "spring logo", :class => "img-responsive") %>
          </div> 
      </div>
        <div class="modal-body text-center" style="background:#fff;">
           <p style="padding-bottom:10px; font-size:16px;">We will call you shortly to tailor our service to your needs and give you a price.</p>

        </div>
         <div class="modal-footer" style="background:#fff; border-top-width:0px;">
            <div class="text-center"> 
                <a href="/" class="btn btn-info" data-dismiss="modal" onclick="redirector()">Done</a>
                
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  (function(){
    $(window).ready(function () {
      $('#orderModal').modal();
    });
  })();
  </script>

  <script>
    function redirector(){
      window.location.href="/";

    }
  </script>

  <style>
    #header{
     z-index: 900;
  }
  </style>
