<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">
				<%= @client.first_name %>, <%= @client.last_name %>
			</header>

			<table class="table table-striped table-advance table-hover">
				<tbody>
					<tr>
						<th><i class="fa fa-user"></i> Number of Referrals </th>
						<th><i class="fa fa-share"></i> Referral Conversion</th>
						<th><i class="fa fa-envelope"></i> Referred Emails</i></th>
						<th><i class="fa sort-numeric-asc"></i> Spring Points</th>
					</tr>
					
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>                             
				</tbody>
			</table>
		</section>
	</div>
</div>