/*Backgrounds Color*/
.title,
.carrousel,
.title_portfolio,
.flex-control-paging li a:hover,
.flex-control-paging li a,
.flex-control-paging li a.flex-active,
.botton
{
	background-color: #FFD207;
}
/*Color*/
footer .social li a:hover,
.social li a:hover,
#about:hover .text_widget i,
#logo a,nav .menu_simple li a:hover
{
	color: #ffd207;
}
.arrow{
	background: url(../../img/portfolio/arrow_default.png) no-repeat center center;
}
 nav #menu li a{
	color: #122772;
}
nav #menu li.active a,nav #menu li a:hover{
	color: #ffd207;
}
.botton:hover{
	color: #fff;
	background-color: #FFD207;
}
.fa-hand-o-left:before {
    content: "\f0a5";
    color: #0072bb;
}
.fa-hand-o-right:before {
    content: "\f0a4";
    color: #0072bb;
}
.border_bottom{
	color: #0072bb;
}

.extra-services{
	text-align: center;
}
.extra-laundry{
	border-width: 2px;
}
.about-paragraph{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}
.about-title{
	text-align: center;
	margin-top: -4%;
}
.logo-img{
	width:60px;
	height: 50px;
}
