<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @client.first_name %></h1>
    <p>
      A cleaner has been assigned to you and is on his way.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for using our service and have a great day!</p>
  </body>
</html>
