<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% customer = "Valued Customer" %>
    <h1>Dear <%= @client.first_name || customer %>, Welcome to Spring</h1>
    <p>
      You have successfully signed up to springgh.com.
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Sign in", @url %>.
      <% if @client.requests.empty? %>
      <% else %>
      <p>Use the following password to login
      PASSWORD: <%= @password %></p>
      <% end %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
