List of Cleaners
<% if current_client %>
<% @current_client_requests.each do |request| %>
  <% request.workers.uniq.each do |worker| %>
    <p><%= link_to worker.first_name, worker %></p>
  <% end %>
<% end %>
<% end %>