<section id="one" class="wrapper style1 special" style="paddi">
		<div class="inner">
			<header class="major">
				<h2>Frequently Asked Questions</h2>
				<p>Have any questions? To assist, we have answered some FAQ's below.<br> If you have an unanswered question, please do not hesistate to contact us.</p>
			</header>
		</div>
	</section>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
           	<h4 class="panel-title">
            	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Can I return an item?</a>
             </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse ">
            <div class="panel-body">
               If the item is “as seen and described on the site” but you just don’t like the fit or just not your taste anymore, you have two days to schedule a pick up for the item to be relisted on the site by reaching us on <a title="Whatsapp Us" class="nav-link" data-toggle="null" data-target="#" data-track-link="header.nav.feed_button" href="intent://send/+233504189363#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+233504189363 <i class="fa fa-whatsapp"></i></a>.<br><br>
               If you liked it, chances are another OncenOut member will want it.
               <br>
               If the item is damaged, not as described, or not what was ordered,you can receive a refund for the cost of the item and delivery cost.<br><br>
               The buyer should be sure to send us a message on <a title="Whatsapp Us" class="nav-link" data-toggle="null" data-target="#" data-track-link="header.nav.feed_button" href="intent://send/+233504189363#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+233504189363 <i class="fa fa-whatsapp"></i></a> begining the message with "I have an issue" ​within 2 days of the item being delivered and let our support team know what's wrong. 
           	</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Can I cancel an order?</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                If the item hasn’t been delivered yet, the buyer can cancel a transaction. <br>
                If you cancel an order more than twice, you shall be blacklisted from the OncenOut community.   
            </div>
        </div>
    </div>
</div>