  <!-- start -->
    <section id="faq" class="section-intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
  </section>
  <!-- faq intro end -->

  <!-- actual faq begin -->
  <section id="faqquest" class="faq-section">
    <div class="container">
      <h4>We hope we answer all your questions but if not please to do not hesitate to <a href="index.html#connected"> Contact Us </a></h4>
      <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What are your operating hours?</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                   <div class="panel-body">
                       We operate Monday to Saturday 7am - 5pm. You can however make bookings on our website 24/7.
                    </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What areas do you currently operate in?</a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                         We are currently operating in East Legon, Adenta and Spintex. Do not worry though, we are rapidly expanding into new areas.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do payments work?</a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Payment is currently made by cash and would be collected by a Spring Personnel before service is rendered. No payments should be made directly to the cleaner.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What do I do if my booking information is incorrect?</a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Booking information can be edited after submission in the requests panel. Booking information can only be edited before a cleaning job begins.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How do I identify the cleaner coming to my home?</a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        We would send you a confirmation email with the details of the cleaner (name, picture, short bio).In addition you would be given a security code that is known only to your assigned cleaner. This is so you can confirm that the cleaner at your doorstep is the one that was sent.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Is my home safe?</a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        Our cleaners go through extensive police background checks and reference checks to ensure that they have a clean record. All the cleaners have a minimum of 1 year proven experience. In the event where you are unhappy with a job done, we will send another cleaner to redo the job for free.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How would the cleaner get to my home?</a>
                    </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Spring will bring the cleaner to your place. In some cases the cleaner may come by public transport.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What is I am not home to receive the cleaner?</a>
                    </h4>
                  </div>
                  <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        Please ensure to inform Spring if you will not be home to recieve the cleaner o alternative means of getting into your home in your absecnce can be made. It is preferable that at the start time of the cleaning you are home to recieve the cleaner.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do I need to feed the cleaner?</a>
                    </h4>
                  </div>
                  <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">
                        Your Spring cleaner would bring in their own lunch in most cases but please allow for the cleaner to have a brief lunch break.
                    </div>
                  </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">I am planning an event and I need my home to have an extra clean. What option is best to pick?</a>
                    </h4>
                  </div>
                  <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Please choose the one-off deep cleaning option for that extra clean you need.
                    </div>
                  </div>
        </div>
        <br>
        <p class="faqnb">NB: YOU ARE ALLOWED TO EDIT YOUR REQUEST FORM UP TO 5 HOURS BEFORE YOU SCHEDULED CLEAN. AFTER THAT TIME THE EDIT OPTION WILL NO LONGER BE THERE</p>
      </div>
    </div>
  </section>
  <!-- actual faq end -->
<!-- Footer Start -->
  <footer id="footer">
    <div class="container">
      <div class="copyright text-center">
        <p class="fa fa-copyright">Spring 2016</p>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
  <!-- Scroll Top -->
  <div class="scroll-top" data-spy="affix" data-offset-top="300">
    <a href="#header"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- Scroll End -->
  <!-- end -->

  <!-- </div> -->