	<!--  tos start  -->
   <!--  <section id="faq" class="section-intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <header>
           
            </header>
        </div>
      </div>
    </div>
  </section>
 -->
<!-- Main -->

    <section class="faq-section tos-section">
      <div class="container">
        
        <div class="tos-intro">
          
           <h2>Welcome to the Spring website terms and conditions for use (“Terms”)</h2>
            <p>These Terms apply to the use of this Website and by accessing this Website and/or making a Booking for Services you agree to be bound by the Terms set out below. If you do not agree to be bound by these Terms please do not use our Website.
              Before you place an order with us, if you have any questions relating to these Terms please contact us by email at hello@springgh.com or by phone at 020 0610 307. Please note that all calls to our customer services representatives may be recorded for quality monitoring and training purposes</p><br>
        </div>
      <!-- </div> -->
        <strong>RECITALS</strong><br>
          Spring operates an online platform at www.springgh.com (“the Website”) through which customers (“Users”) can book for the provision of cleaning services (“Cleaning Services”), by submitting a Booking Request. Spring then matches the most suitable Cleaner from its database to the Booking Request.
          The Cleaner is in the business of providing Cleaning Services.
					Spring does not offer Cleaning Services itself but is a third party facilitator of the contracts between the User and the Cleaner. Accordingly, Spring can receive and confirm Users’ requests for Cleaning Services, issue invoices on behalf of the Cleaners and pass on payments to the Cleaners.
					The User enters into two contractual relationships. The first contract being with Spring, governing the access to and use of the Website in accordance with the terms and conditions of this Agreement. The second being with the Cleaners for the provision of Cleaning Services (“Cleaning Agreement”).
					<br>
					<br>

					<strong>Definitions and Interpretation</strong><br>
					In these Terms (including the recitals), unless the context otherwise requires:
					“Booking” means the booking made by you on the Website for the provision of Cleaning Services;
					“Booking System” means the online system which enables you to make a Booking;
					“Cleaning Fee” means the fee for the Cleaning Services charged on a one-off, weekly and monthly basis, as specified by the User from time to time;
					“Intellectual Property Rights” means all present and future rights anywhere in the world in relation to copyright, trademarks, designs, patents or other proprietary rights, or any rights to registration of such rights whether existing before or after your access to the Website;
					“Total Amount” means the amount that you are required to pay for the Cleaning Services under your Booking;
					“Site Content” means all material, content and information made available on the Website including but not limited to written text, graphics, images, photographs, logos, trademarks, audio material, video material and any other forms of expression;
					“you”, “your” means you as the user of the Website.
					In these Terms, unless the context otherwise requires:
					headings are for convenience only and do not affect its interpretation or construction;
					the singular includes the plural and vice versa;
					references to recitals, clauses, sub clauses, paragraphs, annexures or schedules are references
					to recitals, clauses, sub clauses, paragraphs, annexures and schedules of or to these Terms;
					words importing a gender include other genders;
					the word “person” means a natural person and any association, body or entity whether
					incorporated or not;
					where any word or phrase is defined, any other part of speech or other grammatical form of that
					word or phrase has a cognate meaning;
					a reference to any statute, proclamation, rule, code, regulation or ordinance includes any
					amendment, consolidation, modification, re-enactment or reprint of it or any statute,
					proclamation, rule, code, regulation or ordinance replacing it;
					all monetary amounts are in Ghanaian currency;
					a reference to time refers to Greenwich Meridian Time;
					“includes” is not a word of limitation;
					no rule of construction applies to the disadvantage of a party because these Terms are prepared by (or on behalf of) that party;
					a reference to any thing is a reference to the whole and each part of it;
					a reference to a group of persons is a reference to all of them collectively and to each of them
					individually; and
					a reference to a document includes all amendments or supplements to, or replacements or novations of, that document.
					<br>
					<br>

					<strong>Terms and Conditions</strong><br>
					Access to and use of the Website is subject to the terms and conditions outlined in this agreement (the “Terms”).
					Spring periodically reviews the Terms and reserves the right to change the Terms, without any notice to you, by updating this document. You should review this document, as available on the Website, regularly as any changes to the Terms take immediate effect from the date of the publication on this document. Your continued use of the Website after any such changes are made will be deemed to constitute your acceptance of those changes.
					You acknowledge that any hyperlinks or other redirection tools taking you to other operated by third parties that appear on the Website (“Third Party Sites”) are not controlled by Spring and do not form part of the Website. You agree that you will not hold Spring liable or in any way accountable for anything that occurs on any Third Party Site.
					<br>
					<br>

					<strong>Acceptance</strong><br>
					In order to use this Website and make a Booking, you must first agree to the Terms.
					You accept the Terms by:
					creating a User Profile; and
					clicking to accept/agree to the Terms.
					Notwithstanding clause 3.2, you may not accept the Terms or access the Website if:
					you are not of legal age to form a binding contract with Spring; or
					you are a person barred from entering into contracts under legislation,
					in which case, you must immediately leave the Website.
					By accepting the Terms, you agree that you have carefully read and understood the Terms and agree to be bound by them.
					If you do not understand any part of the Terms you should seek independent legal advice.
					<br>
					<br>

					<strong>User Profile</strong><br>
					You will be required to register your personal information, including your name, address, phone number and payment details on the Website in order to make a Booking (“User Profile”).
					You will be issued with a username and password which are linked to your User Profile. The username and password are personal to you and are not transferable. You are responsible for all information posted on or transmitted via the Booking System by anyone using your username and password and any payments due for the Cleaning Services acquired through the Booking System by anyone using your username and password. You should notify us of any breach of security of your username and password immediately.
					You must manage Bookings through the Spring platform; cancelling and rescheduling as and when needed.
					Spring may delete or block User Profiles at its own discretion. Blocked users are prohibited from setting up a new User Profile.
					<br>
					<br>

					<strong>Booking System</strong><br>
					To make a Booking you must login to your User Profile and use the Booking System to request a Booking. You will receive a Booking request confirmation receipt from Spring after submitting your Booking request.
					Spring will then make your contact details, location, requested time and the scope of the Cleaning Service available to their Cleaner network. An available Cleaner will then be assigned to your request to confirm  their acceptance of the Booking.
					Currently you will be unable to select a preferred Cleaner.
					When a Booking is paired to a Cleaner, Spring will issue you with an acceptance email and attach the Cleaning Agreement that constitutes the relationship between you and the Cleaner for the provision of the Cleaning Services as well as a profile of the Cleaner. Spring will not, in anyway, be involved in the Cleaning Agreement between you and the Cleaner, aside from processing the Payment Amount on behalf of the Cleaner and providing you with an invoice in accordance with clause 6.4.
					If the requested Booking cannot be facilitated, Spring will arrange an alternative time for the Cleaning Service with you and a Cleaner.
					You are not permitted to engage the Cleaning Services of a Cleaner other than through the Booking System on the Website.
					The Booking System is provided on the Website to enable you to make legitimate Bookings and to make payments for those Bookings, and for no other purposes.
					You confirm that you are at least 18 years of age and possess the legal authority to use the Booking System in accordance with these Terms. You also agree that all information supplied by you in using the Website and the Booking System will be true and accurate at all times.
					Any speculative, false or fraudulent Booking is prohibited. You agree that the Booking System will only be used to make legitimate Bookings for you or another person for whom you are legally authorised to act. You acknowledge that abuse of the Booking System may result in you being denied access to the Booking System.
					Spring has the right at any time to add, change or withdraw functions available on the Website at its own discretion.
					Spring is unable to guarantee the gender of your cleaner, and you are unable to request a male or female.
					<br>
					<br>

					<strong>Payment</strong><br>
					You agree that at the time of Booking, your payment details will be transferred to Spring’s secure payment gateway. Spring may check the availability of funds on your nominated payment method to ensure sufficient funds are available.
					Upon the successful completion of your Cleaning Service, you agree to the automatic debit of the Payment Amount to your nominated payment method. You must ensure that sufficient funds are available for debit at that time. Fees and charges relating to insufficient funds at time of debit will be passed onto you.
					On receipt of the Payment Amount, Spring will hold the Payment Amount on behalf of the Cleaner until such time as they are remitted to the Cleaner, refunded to you (if you are entitled to a refund) or transferred to Spring in payment of our fees and charges. No interest will be payable by Spring to you or the Cleaner on amounts held by Spring.
					Spring, in its name, will issue you with an invoice.
					Your payments to Spring are processed via an overseas gateway and from time to time, financial institutions or payment providers may charge an additional fee for transacting with Spring. If this occurs, the Customers bears that cost.
					<br>
					<br>

					<strong>Changes and Cancellations</strong><br>
					You can cancel or amend a Booking on the Website, free of charge, up to 24 hours before the Cleaning Service is scheduled to begin.
					If you cancel or amend a Booking within 24 hours before the Cleaning Service is scheduled to begin, you will have to pay cancellation costs equivalent to quarter of the Cleaning Fee.
					You cannot amend, extend or cancel a Booking during the performance of the Services.
					The Cleaning Agreement shall expire once the Cleaning Services under the Booking have been performed.
					If the Cleaner is unable to fulfil a confirmed Booking (in full or part), we will attempt to find you replacement Cleaner. If we cannot find you an alternative Cleaner, we will reschedule your Booking to a new time which suits you. If we cannot find a suitable time for you, you may cancel the Booking at no charge.
					Any fortnightly or other recurring booking cancelled after the first cleaning will be retroactively charged the one-time cleaning rate and any reduced rates charged on the basis of the recurring booking will not apply.
					<br>
					<br>

					<strong>Cleaning Services</strong><br>
					Spring operates the Website as a third party facilitator for the Cleaning Services and provides you with the platform to purchase the Cleaning Services.
					Spring is not an agent or broker for you or the Cleaner. You enter into any transaction with a Cleaner entirely at your own risk.
					Spring uses their best efforts to monitor the Cleaning Services offered by a Cleaner. However, Spring does not make any representation as to the safety, quality, condition or description of any products used or Cleaning Services provided by Cleaners. Any issues regarding safety, quality, condition or description should be notified to Spring, who will then pass the issue onto the Cleaner designated to your Booking. You should refer to the terms and conditions of your Cleaning Agreement for further information.
					All bookings are subject to Cleaner availability.
					<br>
					<br>

					<strong>Cleaner Ratings</strong><br>
					You can post ratings on the Website for the Cleaning Services provided (“Ratings”).
					Ratings must be based on demonstrable facts. They must be written fairly and objectively and must not contain any content which is offensive or abusive, liable to criminal prosecution or otherwise unlawful (e.g. content which infringes third party's’ intellectual property rights). Ratings which violate this clause will not be published or will be deleted. Ratings will identify the User that has posted the Rating.
					By sending in a Rating, you grant Spring, free of charge, the usage rights to the text of the Rating without any territorial or time limitation.
					Spring will have the right to deal with the Rating in any manner it sees fit, including using it for further rating services, passing it on to third parties or publishing it.
					Unjustified multiple Ratings, self-Ratings and other forms of Rating which attempt to have a distorting influence on the rating system are prohibited.
					<br>
					<br>




					<strong>Termination</strong><br>
					Spring may at its discretion terminate your use of, or access to, the Website at any time. If this happens we may notify you by email. If your use of the Website is terminated:
					you are no longer authorised to access the Website or use any other Spring services with the email address you used to register with the Website or any other email address you possess;
					you will continue to be subject to and bound by all restrictions imposed on you by the Terms; and
					all licences granted by you and all disclaimers by Spring and limitations of Spring’s liability set out in the Terms or elsewhere on the Website will survive termination.
					You may terminate this agreement by emailing Spring at hello@springgh.com Spring will disable your User Profile within ten (10) working days of receipt of the email requesting termination of your User Profile.
					Spring reserves the right to deduct any outstanding fees and charges owing to Spring and/or the Cleaner on your User Profile prior to disabling it.
					<br>
					<br>

					<strong>Dispute Resolution Policy</strong><br>
					Spring will use reasonable endeavours to mediate any dispute concerning the use of the Website.
					Disputes in relation to the Cleaning Services carried out by a Cleaner or any other issue will be referred, where appropriate, to Spring dispute resolution department
					Any issues with the service must be reported to Spring within 24 hours. You must provide us with photos of an unsatisfactory clean within 24 hours of completion.
					<br>
					<br>

					<strong>Security and Payments</strong><br>
					We have taken all practical steps from both a technical and systems perspective to ensure that all of your information is well protected. A secure payment gateway is used to process all transactions and credit card details. Spring does not give any warranty or make any representation regarding the strength or effectiveness of the secure payment gateway and is not responsible for events arising from unauthorised access to your information.
					<br>
					<br>

					<strong>Privacy</strong><br>
					Spring collects and stores the personal information you enter into the User Profile. The personal information collected by Spring will be maintained in accordance with our Privacy Policy available on the Website.
					You agree that Spring will disclose your personal information, including your name, address and phone number to Cleaner in order for the Cleaner to carry out the Cleaning Services.
					Intellectual Property
					The Site Content is protected by copyright and Spring reserves all Intellectual Property Rights which may subsist in the Site Content and/or the Website.
					By accepting the Terms, you are granted a non-exclusive licence to:
					view the Website;
					print pages from the Website in its original form; and
					download any material from the Website for caching purposes only.
					You must not, without Spring’s prior written consent which may be withheld at its absolute discretion:
					copy, republish, reproduce, duplicate or extract Site Content;
					redistribute, sell, rent or licence any Site Content; or
					edit, modify or vary the Site Content.
					<br>
					<br>

					<strong>Acceptable Use</strong><br>
					15.1. You must not use, or cause this Website to be used, in any way which:
					breaches any clause of the Terms;
					infringes Spring’s or any third party’s Intellectual Property Rights;
					is fraudulent, illegal or unlawful; or
					causes impairment of the availability or accessibility of the Website.
					You must not use, or cause this Website to be used, as a medium which stores, hosts, transmits sends
					or distributes any material which consists of:
					Spyware;
					computer viruses;
					Trojans;
					Worms;
					keystroke loggers; or
					any other malicious computer software.
					<br>
					<br>

					<strong>Indemnity and Liability</strong><br>
					General indemnity
					You agree to indemnify Spring, on demand, against any claim, action, damage, loss, liability, cost, charge, expense or payment which Spring may pay, suffer, incur or are liable for, in relation to any act you do or cause to be done, in breach of the Terms.
					General limitation of liability
					We will not be liable to you in contract, tort or equity in relation to any direct, indirect or consequential loss you incur in relation to the contents, use or reliance of Site Content or otherwise in connection with the Website.
					Cleaning Services Liability
					To the extent permitted by law, Spring will not be responsible and will be excluded from all liability, for any loss or damage whatsoever (including personal injury, loss of life and damage to property) that you or another person may suffer in connection with the offer or supply of (or default in supplying) the Cleaning Services.
					Information accuracy
					You acknowledge and agree that some of the Site Content may be provided by way of blogs or comments made by other users of the Website (i.e. Ratings), and that Spring does not accept any liability for the accuracy of such information or your reliance on the same. The Site Content is provided to you as general information only and is not intended to substitute or replace the advice of a duly qualified professional (where applicable).
					Acceptance
					By using this Website, you agree and accept that the indemnity and limitations of liability provided in this clause 16 are reasonable.
					<br>
					<br>

					<strong>Warranties and Representations</strong><br>
					The use of this Website is at your own risk. The Site Content and everything from the Website is provided to you on an “as is” and “as available” basis without warranty or condition of any kind.
					None of Spring’s affiliates, directors, officers, employees, agents, contributors, third party content providers or licensors make any express or implied representation or warranty about the Site Content or Website
					<br>
					<br>

					<strong>General Provisions</strong><br>
					Any provision of, or the application of any provision of these Terms which is prohibited in any jurisdiction is, in that jurisdiction, ineffective only to the extent of that prohibition.
					Any provision of, or the application of any provision of these Terms which is void, illegal or unenforceable in any jurisdiction does not affect the validity, legality or enforceability of that provision in any other jurisdiction or of the remaining provisions in that or any other jurisdiction.
					If a clause is void, illegal or unenforceable, it may be severed without affecting the enforceability of the other provisions in these Terms.
					These Terms shall be governed by and construed in accordance with the law for the time being applicable to Ghana and you agree to submit to the non-exclusive jurisdiction of the Courts of Ghana.
					<br>
					<br>

			</div>
		</section>
<!--   tos end    -->
<!-- Footer Start -->
  <footer id="footer">
    <div class="container">
      <div class="copyright text-center">
        <p class="fa fa-copyright">Spring 2016</p>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
  <!-- Scroll Top -->
  <div class="scroll-top" data-spy="affix" data-offset-top="300">
    <a href="#header"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- Scroll End -->
  <!--   end      -->