<% @clients.each do |client| %>
  <% if client.requests.any? %>
    <% client.requests.each do |c_request| %>
    <% if c_request.resolved == true %>
      <p><%= link_to c_request.id, admin_client_request_path(client, c_request) %> <%= c_request.client.fullname %> assigned</p>
    <% else %>
      <p><%= link_to c_request.id, admin_client_request_path(client, c_request) %>  <%= c_request.client.fullname %> unassigned</p>
    <% end %>     
    <% end %>
  <% end %>
<% end %>