<div class="admin-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-1 form-box">  
				<h1>Create A Request for <%= @client.fullname %></h1>
				<%= render 'form', client: @client, request: @request %>

			</div>
		</div>
	</div>
</div>
