/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require requests.scss
 */

/*nav#navigation {
  background-color: #fff;
}*/

/*NAVBAR TEXT STYLING*/

/*
.content-box > h1 {
  font-family: 'SANS-SERIF';
  font-size: 32px;
  color: #0090C1;
}*/

/*div.form-top-left > p, div.form-top-left > ol > li > p, div.form-top-left > ol > p {
  font-family: 'SANS-SERIF';
}*/


/*FORM STYLING*/
/*.simple_form label{
  font-family: 'SANS-SERIF';
  font-weight: 200;
}*/

/* h4.form-content-label, h4.form-content-time{
  font-family: 'SANS-SERIF';
  font-size: 14px;
}*/


/*Asterisks for Labels */
abbr {
  display: none;
}

.simple_form #cleanButton{
  height: 48px;
  background-color: #ffd207;
}

.btn.submit_button{
  background:#ffd207 !important;
}

/*NAVBAR CONTENT PADDING*/
ul.nav.navbar-nav.navbar-right > li.page-scroll > a{
  padding-bottom: 0px;
  padding-top: 20px;
}

a.navbar-header{
  padding-top: 2px;
  padding-bottom: 13px;
}

#daPrice{
  color:#009900;
  font-size: 24px;
}

.admin-page{
  padding-top: 60px;
}

@media only screen and (max-width: 500px) {

  h1{
    text-align: center;
  }

  div.form-top-left > p:first-child {
    display: none;
  }

  .form-left > ol {
    text-align: left;
  }

  div.navbar-header a.navbar-brand{
    width: 316px;
    /*padding-top: 15px;*/
    /*padding-bottom: 0px;*/
  }
  
/*NAVBAR */

  img.img-responsive {
    width: 25%;
    padding-top: 10px;
    padding-left: 30px;
  }

  nav {
    padding-bottom: 0px;
  }

}