/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*nav#navigation {
  background-color: #fff;
}*/
/*
a.navbar-brand{
  text-transform: uppercase;
  font-weight: 400;
  color: #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
}*/


/*NAVBAR TEXT STYLING*/
/*li.page-scroll > a {
  text-transform: uppercase;
  color:#0090C1 !important;
}*/

/*
li.page-scroll > a.btn:hover {
  color:#fff !important;
}*/

/*FORM STYLING AND DISPLACEMENT FROM TOP*/
/*.form-content {
  border: solid 1px #122772;
  background-color: #eee;
  padding-top: 20px;
  border-radius: 2px;
  margin-top: 70px;
}*/

/*.content-box {
  padding-top: 80px;
  margin-top: 60px;
}*/

/*
.content-box > h1 {
  font-family: 'SANS-SERIF';
  font-size: 32px;
  color: #0090C1;
}*/

/*.content-box > strong {
  text-transform: capitalize;
}*/

/*div.form-top-left > p, div.form-top-left > ol > li > p, div.form-top-left > ol > p {
  font-family: 'SANS-SERIF';
}*/


/*FORM STYLING*/
/*.simple_form label{
  font-family: 'SANS-SERIF';
  font-weight: 200;
}*/

/* h4.form-content-label, h4.form-content-time{
  font-family: 'SANS-SERIF';
  font-size: 14px;
}*/

/*hr {
  border-color: #0090C1;
}
*/
/*.btn-block {background-color: #0090C1; color:#fff; border-color: #0090C1;}*/

/*div.content-box > h1 {
  color: #022F40;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}*/

/*div.content-box > h1 > strong {
  color: #0090C1;
}*/

/*.signUpIn {
  margin-top: 80px;
}*/

/*.btn-login{
  margin-top: 10px;
  margin-bottom: 10px;
}*/



/*Asterisks for Labels */
abbr {
  display: none;
}

.simple_form #cleanButton{
  height: 48px;
  background-color: #ffd207;
}

.btn.submit_button{
  background:#ffd207 !important;
}

/*NAVBAR CONTENT PADDING*/
ul.nav.navbar-nav.navbar-right > li.page-scroll > a{
  padding-bottom: 0px;
  padding-top: 20px;
}

a.navbar-header{
  padding-top: 2px;
  padding-bottom: 13px;
}

#daPrice{
  color:#009900;
  font-size: 24px;
}

.admin-page{
  padding-top: 60px;
}

@media only screen and (max-width: 500px) {
/*  .content-box{
    padding-top: 30px;
  }*/

  h1{
    text-align: center;
  }

  div.form-top-left > p:first-child {
    display: none;
  }

/*  .form-content{
    margin-top: 40px;
  }*/

  .form-left > ol {
    text-align: left;
  }

  div.navbar-header a.navbar-brand{
    width: 316px;
    /*padding-top: 15px;*/
    /*padding-bottom: 0px;*/
  }
  
/*NAVBAR */

  img.img-responsive {
    width: 25%;
    padding-top: 10px;
    padding-left: 30px;
}
nav {
  padding-bottom: 0px;
}

}