/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-image: url('pattern2.jpg');
}

abbr {
  display: none;
}
nav#navigation {
  background-color: #022F40;
}
a.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
  color: #fff !important;
}

li.page-scroll > a {
  text-transform: uppercase;
  color:#0090C1 !important;
}

.form-content {
  border: solid 1px #c0c0c0;
  background-color: #eee;
  padding-top: 20px;
  border-radius: 2px;
}

.content-box {
  padding-top: 80px;
}

.content-box > h1 {
  font-family: 'SANS-SERIF';
  font-size: 32px;
  color: #0090C1;
}

/*.content-box > strong {
  text-transform: capitalize;
}*/

div.form-top-left > p, div.form-top-left > ol > li > p, div.form-top-left > ol > p {
  font-family: 'SANS-SERIF';
}

.simple_form label{
  font-family: 'SANS-SERIF';
  font-weight: 200;
}

 h4.form-content-label, h4.form-content-time{
  font-family: 'SANS-SERIF';
  font-size: 14px;
}

hr {
  /*border-color: #0081AF;*/
  border-color: #0090C1;

}

.btn-block {background-color: #0090C1; color:#fff; border-color: #0090C1;}
.btn-block:hover{ background-color: #fff; color:#0090C1; border-color: #0090C1;}

div.content-box > h1 {
  color: #022F40;
}

div.content-box > h1 > strong {
  color: #0090C1;
}