// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// REQUEST PAGE

body{
  background-color: #cecece;
}

select{
  height: 45px;
}

select#request_bedrooms{
  width:24%;
}

select#request_bathrooms{
  width:24%;
}

select#request_kitchens{
  width:24%;
}

select#request_hall{
  width:24%;
}

select#request_date_time_1i{
  width:20%; 
}

select#request_date_time_2i{
  width:20%; 
}

select#request_date_time_3i{
  width:10%;
}

select#request_date_time_4i{
  width:20%;  
}

select#request_date_time_5i{
  width:20%;
}

input#client_fullname.form-control{
  height: 40px;
}

input#client_email.form-control{
  height: 40px;
}

input#client_current_password.form-control{
  height: 40px;
}

input#client_password.form-control{
  height: 40px;
}

input#client_password_confirmation.form-control{
  height: 40px;
}

input#client_phone_number.form-control{
  height: 40px;
}

input#client_location.form-control{
  height: 40px;
}

input#request_days{
  height: 45px;
  text-align: center;
}

.simple_form label.control-label{
  font-weight: bold;
}

span.radio.inline{
  padding-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

span.checkbox.inline{
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px; 
}

.landing-page-form{
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#navigation > div.container > div.navbar-header.page-scroll > a.navbar-brand{
  padding-top: 0px;
}

ul.nav.navbar-nav.navbar-right > li.page-scroll > a{
  padding-bottom: 0px;
  padding-top: 15px;
}

.navbar-inverse{
  border:none;
}

img.img-responsive{
  width: 10%;
}

// Table page
div.panel.panel-default > div.table-responsive{
  border-bottom:solid 1px #333;
}

th {
  background-color: #E8E8E8;
}

td {
  background-color: #E8E8E8;
}

.panel-default{
  border-color: #333;
}

// Display Request Page 

div.well{
  border:solid 1px #c0c0c0;
}

