<%= simple_form_for([@worker, @worker.reviews.build]) do |f| %>
  <label>Rate <%= @worker.first_name %></label>
  <p><div id="star-rating"></div></p>
  <p><%= f.input :comment, label: "How Do You Feel About #{@worker.first_name}'s work?" %></p>

  <div class="actions">
  	<%= f.button :submit, "Post Your Review", class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  $('#star-rating').raty({
  	path: '/assets/',
  	scoreName: 'review[rating]'
  });
</script> 