<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @client.first_name %></h1>
    
   <p>We just noticed that you placed a request. You will hear from us as soon as we assign a cleaner to you.</p>
     
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for using Spring and have a great day!</p>
  </body>
</html>